.mainContent {
   /* vertical */
    height: auto;
    margin: 0;
    padding: 0 2em 0 2em; /* top right bottom left */

}

.searchItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 7em 2em 0 2em; /* top right bottom left */

}

.headingTitle {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: #ffffff; /* Tailwind's gray-800 */
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
